RewriteEngine on 
RewriteCond %{HTTP:Accept-Encoding} gzip 
RewriteCond %{REQUEST_FILENAME}.gz -f 
RewriteRule ^(.*)$ $1.gz [L] 

Options +MultiViews

Header append Vary: Accept-Encoding

Header set X-XSS-Protection "1; mode=block"

Header always set X-FRAME-OPTIONS "DENY"

Header always set X-Content-Type-Options "nosniff"

<filesMatch ".(css|js|jpg|jpeg|png|gif|ico|eot|svg|ttf|woff|woff2)$">
  Header set Cache-Control "max-age=2592000, public"
</filesMatch>

ErrorDocument 404 /404.html