* {
  box-sizing: border-box;
}

* > :first-child {
  margin-top: 0 !important;
}

* > :last-child {
  margin-bottom: 0 !important;
}

$sans-serif: "Lato", sans-serif;
$serif: "PT Serif", serif;

body {
  font-size: 100%;
  font-family: $sans-serif;

  @include iPhoneWidth {
    font-size: 125%;
  }

  @include iPadWidth {
    font-size: 150%;
  }
}

$vertical-rhythm: 2rem;
$text-padding: 2rem;
$p-line-height: 1.5;
$h1-line-height: 1.15;

%text-column {
  max-width: 50rem;
  margin-left: auto;
  margin-right: auto;
}

p {
  @extend %text-column;
  font-family: $serif;
  margin: 0 0 $vertical-rhythm 0;
  line-height: $p-line-height;
}

h1, h2 {
  @extend %text-column;
  margin: $vertical-rhythm 0;
  line-height: $h1-line-height;
  font-weight: 900;
}

h3, h4, h5, h6 {
  @extend %text-column;
  margin: $vertical-rhythm 0 0 0;
  line-height: $p-line-height;
  font-weight: 900;
}

img {
  @extend %text-column;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: lighten($blue, 10%);
  }
}

small {
  font-family: $sans-serif;
}

.block {
  display: flex;
  width: span(12 of 12);
}

.text {
  @extend %text-column;
  padding: $text-padding;
}