* {
  box-sizing: border-box;
}

* > :first-child {
  margin-top: 0 !important;
}

* > :last-child {
  margin-bottom: 0 !important;
}

body {
  font-size: 100%;
  font-family: "Lato", sans-serif;

  @include iphone6 {
    font-size: 125%;
  }

  @include tablet-portrait {
    font-size: 150%;
  }
}